@using System.Text.Json.Nodes
@using System.Text.Json
@using NJsonSchema
@using System.ComponentModel.DataAnnotations

@inject ISnackbar Snackbar

<div>

    <div style="display:flex; justify-content: center; gap: 2rem;">
        <MudSwitch
        @bind-Value="_nullableMode"
        @bind-Value:after="OnModeChanged"
        Color="Color.Secondary"
        Label="Nullable mode">
        </MudSwitch>

        <MudChip
        T="string"
        Href="https://github.com/Apollo3zehn/BlazorJsonForm/blob/dev/src/BlazorJsonFormTester.Core/Types.cs" 
        Target="_blank"
        Variant="Variant.Text"
        Icon="@Icons.Material.Filled.ExitToApp"
        Color="Color.Secondary">
            .NET Type Definition
        </MudChip>
    </div>

    <div style="display: flex; gap: 1rem; margin: 1rem;">
        <div style="flex: 1; font-family: 'Courier New', Courier, monospace; font-size: x-small;">
            <MudText Typo="Typo.h4" Style="margin-bottom: 1rem;">Schema</MudText>

            <span>
                @(
                            (MarkupString)(
                                _schema
                                    .ToJson()
                                    .Replace(" ", "&nbsp;")
                                    .Replace("\n", "<br />")
                            )
                        )
            </span>
        </div>

        <div style="flex: 1">
            <MudText Typo="Typo.h4" Style="margin-bottom: 1rem;">Form</MudText>

            <MudForm @ref="_form">
                <JsonForm
                Schema="_schema"
                @bind-Data="_data" />
            </MudForm>
        </div>

        <div style="flex: 1; font-family: 'Courier New', Courier, monospace; font-size: x-small;">
            <MudText Typo="Typo.h4" Style="margin-bottom: 1rem;">Data</MudText>

            <span>
                @(
                            (MarkupString)(
                                JsonSerializer.Serialize(_data, new JsonSerializerOptions { WriteIndented = true })
                                    .Replace(" ", "&nbsp;")
                                    .Replace("\n", "<br />")
                            )
                        )
            </span>

            <div style="margin-top: 2rem">
                <MudButton 
                Style="width: 12rem;"
                OnClick="ValidateForm"
                Variant="Variant.Outlined"
                Color="Color.Primary">
                    Validate Form
                </MudButton>
            </div>

            <div style="margin-top: 2rem">
                <MudButton 
                Style="width: 12rem;"
                OnClick="() =>
                    {
                        if (_nullableMode)
                            ValidateObject<Rocket_Nullable>();

                        else
                            ValidateObject<Rocket>();
                    }"
                Variant="Variant.Outlined"
                Color="Color.Secondary">
                    Validate Object
                </MudButton>
            </div>

        </div>
    </div>

</div>

@code {

    private MudForm _form = default!;

    private bool _nullableMode;

    private JsonNode? _data;

    private JsonSchema _schema = default!;

    [Parameter]
    public JsonSchema? Schema { get; set; }

    [Parameter]
    public JsonSchema? Schema_Nullable { get; set; }

    protected override void OnInitialized()
    {
        _schema = Schema is null 
            ? JsonSchema.FromType<Rocket>() 
            : Schema;
    }

    private void OnModeChanged()
    {
        _schema = _nullableMode
            ? Schema_Nullable is null ? JsonSchema.FromType<Rocket_Nullable>() : Schema_Nullable
            : Schema is null ? JsonSchema.FromType<Rocket>() : Schema;

        _data = default;
    }

    private async Task ValidateForm()
    {
        await _form.Validate();

        if (_form.IsValid)
        {
            Snackbar.Add(
                "The form is valid", 
                Severity.Success
            );
        }

        else
        {
            Snackbar.Add(
                "There were validation errors",
                Severity.Error
            );
        }
    }

    private void ValidateObject<T>()
    {
        try
        {
            var deserialized = JsonSerializer.Deserialize<T>(
                _data, 
                new JsonSerializerOptions() { RespectNullableAnnotations = true }
            );

            var isValid = true;
            var validationResults = new List<ValidationResult>();

            if (deserialized is null)
            {
                isValid = false;
            }

            else
            {
                isValid = Validator.TryValidateObject(
                    deserialized, 
                    new ValidationContext(deserialized),
                    validationResults,
                    validateAllProperties: true
                );
            }

            if (isValid)
            {
                Snackbar.Add(
                    "The data is valid", 
                    Severity.Success
                );
            }

            else
            {
                Snackbar.Add(
                    $"There were validation errors:\n{string.Join('\n', validationResults)}", 
                    Severity.Error
                );
            }
        }
        catch (JsonException ex)
        {
            Snackbar.Add(
                $"There were deserialization errors: {ex.Message}",
                Severity.Error
            );
        }
    }
}
