@page "/"
@using System.Text.Json.Schema
@using System.Text.Json.Nodes
@using System.Text.Json
@using NJsonSchema

<div style="display: flex; gap: 1rem; margin: 1rem;">
    <div style="flex: 1">
        <MudText Typo="Typo.h4" Style="margin-bottom: 1rem;">Form</MudText>

        <JsonForm
            Schema="_schema"
            @bind-Data="_data" />
    </div>

    <div style="flex: 1; font-family: 'Courier New', Courier, monospace; font-size: x-small;">
        <MudText Typo="Typo.h4" Style="margin-bottom: 1rem;">Data</MudText>

        <span>
            @(
                (MarkupString)(
                    JsonSerializer.Serialize(_data, new JsonSerializerOptions { WriteIndented = true })
                        .Replace(" ", "&nbsp;")
                        .Replace("\n", "<br />")
                )
            )
        </span>
    </div>

    <div style="flex: 1; font-family: 'Courier New', Courier, monospace; font-size: x-small;">
        <MudText Typo="Typo.h4" Style="margin-bottom: 1rem;">Schema</MudText>

        <span>
            @(
                (MarkupString)(
                    _schema
                        .ToJson()
                        .Replace(" ", "&nbsp;")
                        .Replace("\n", "<br />")
                )
            )
        </span>
    </div>
</div>

@code {
    JsonNode? _data;

    JsonSchema _schema = JsonSchema.FromType<Rocket>();
}
